@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);
:root {
  --f_Inter: 'Inter';
  --body: rgba(23, 24, 54, 1);
  --primary:rgba(245, 68, 59, 1);
  --text: rgba(255, 255, 255, 0.6);
}

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box                                                                                                                                                                                                                                                                                                                                                                          ;
  }


  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

body {
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}